<tr>
  <td><%= catalog.name %></td>
  <td><%= catalog.slug %></td>
  <td><%= catalog.type %></td>
  <td><%= link_to 'Show', catalog_path(catalog) %></td>
  <td><%= link_to 'Edit', edit_catalog_path(catalog) %></td>
  <td><%= link_to 'Destroy', catalog_path(catalog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
