<% if catalog.new_record? %>
  <% url = catalogs_path %>
<% else %>
  <% url = catalog_path(catalog) %>
<% end %>

<%= form_for catalog, url: url do |f| %>
  <% if catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :short_name %>
    <%= f.text_field :short_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <%#= f.select :type, options_for_select(['RailsCatalog', 'SwiftCatalog'], catalog.type), {include_blank: true}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>
