<%= form_for(catalog) do |f| %>
  <% if catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
