<% set_meta_tags title: "Catalogs" %>


<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'catalogs' %>
<% end %>

<!-- <div class="title">

  <h1>
    Catalogs

    <small>
      <%#= link_to 'New Catalog', new_catalog_path %>
    </small>
  </h1>

</div> -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      基金公司一览
      <small>
        <%= Catalog.group(:initial).count.size %>
      </small>
    </h2>
  </div>

  <div class="panel-body">
    <% Catalog.group(:initial).count.each_pair do |initial, count| %>
      <div class="col-md-2">
        <% catalogs = Catalog.where(initial: initial) %>

        <%= initial.camelcase %>

        <ul>
          <% catalogs.each do |catalog| %>
          <li>
            <%= link_to catalog.short_name, catalog %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      Others
      <small><%= @catalogs.size %></small>
    </h2>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Slug</th>
          <th>Code</th>
          <th>Categories</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'catalogs/catalog', collection: @catalogs %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <!--  -->
  </div>
</div>
