<p id="notice"><%= notice %></p>

<h1>
  Catalogs

  <small>
    <%= link_to 'New Catalog', new_catalog_path %>
  </small>
</h1>

<h2>Rails <small><%= @rails_catalogs.size %></small></h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'catalogs/catalog', collection: @rails_catalogs %>
  </tbody>
</table>

<h2>Laravel <small><%= @laravel_catalogs.size %></small></h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>    
    <%= render partial: 'catalogs/catalog', collection: @laravel_catalogs %>
  </tbody>
</table>

<h2>Swift <small><%= @swift_catalogs.size %></small></h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'catalogs/catalog', collection: @swift_catalogs %>
  </tbody>
</table>

<br>
<%= link_to 'New Catalog', new_catalog_path %>
