<% meta_description = "基金公司一览：为您提供南方、国泰、华夏、华安、博时、鹏华等#{Catalog.count}家基金管理有限公司旗下基金、旗下基金经理等资料，基金公司网站、基金公司联系方式、基金公司规模等信息。" %>

<% set_meta_tags title: "基金公司一览", description: meta_description %>


<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'catalogs' %>
  <%= stylesheet_link_tag 'owl-carousel/owl.carousel' %>
<% end %>

<div class="container content">
  <% cache [@catalogs, 'initial'] do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          基金公司一览
          <small>
            首字母拼音排序
          </small>

          <small class="pull-right">
            <%= Catalog.unscope(:limit, :offset).count %>
          </small>
        </h2>
      </div>

      <div class="panel-body">
        <% Catalog.group(:initial).count.each_pair do |initial, count| %>
          <div class="col-md-2">
            <% catalogs = Catalog.where(initial: initial) %>

            <%= initial.camelcase %>

            <ul>
              <% catalogs.each do |catalog| %>
              <li>
                <%= link_to catalog.short_name, catalog %>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% cache @catalogs do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          基金公司列表

          <small>
            <%= @catalogs.size %>
          </small>
        </h2>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <!-- <th>Slug</th> -->
              <!-- <th>Code</th> -->
              <th>Categories</th>
              <!-- <th colspan="3"></th> -->
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'catalogs/catalog', collection: @catalogs %>
          </tbody>
        </table>
      </div>

      <div class="panel-footer">
        我们尽量为您提供最详细的基金公司资料、基金公司旗下基金、基金公司旗下基金经理，基金公司网站、基金公司联系方式、基金公司规模等信息。
      </div>
    </div>
  <% end %>
</div>

<% cache @with_cover_catalogs do %>
  <div class="container content">
    <!-- Owl Clients v1 -->
    <div class="headline">
      <h2>最受欢迎的基金公司</h2>
    </div>

    <div class="owl-clients-v1">
      <% @with_cover_catalogs.each do |catalog| %>
        <div class="item">
          <%= image_tag catalog.cover, alt: catalog.name %>
        </div>
      <% end %>
    </div>
    <!-- End Owl Clients v1 -->
  </div>
<% end %>

<% content_for :layout_js_link_yield do %>
  <%= javascript_include_tag 'owl-carousel/owl.carousel' %>
<% end %>

<% content_for :javascripts do %>
  <!-- 页面定义 -->
  <%= javascript_include_tag 'owl-carousel/owl-carousel' %>

  <script>
    OwlCarousel.initOwlCarousel();
  </script>
<% end %>
