<% set_meta_tags title: @title %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'catalogs' %>
<% end %>

<div class="col-xs-12 col-md-12 content">
  <div class="col-md-9 xs-no-padding">
    <% @catalogs.each do |catalog| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title top-catalog">
            <%= link_to catalog_path(catalog) do %>
              <%= catalog.name %>
            <% end %>

            <% if catalog.sketch.present? %>
              <small>
                <%= catalog.sketch %>
              </small>
            <% end %>

            <small class="pull-right">
              <%= catalog.online_categories_count %>
            </small>
          </h2>

        </div>

        <ul class="list-group">
          <%# catalog.categories.online.each do |category| %>
            <!-- <li class="list-group-item">
              <span class="badge badge-count">
                <%#= category.online_projects_count %>
              </span>

              <%#= link_to category.name, category %>
            </li> -->
            <%= render partial: "categories/list_item", collection: catalog.online_categories, as: :category %>
          <%# end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="col-md-3 xs-no-padding">
    <div class="panel panel-default">
      <div class="panel-heading">项目是什么？</div>
      <div class="panel-body">
        <p>
          给 GitHub 开源项目做一个分类，帮你更好发现和寻找到你所需的开源项目。
        </p>

        <div class="text-center">
          <%= link_to "分享优质项目", new_project_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
