<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @catalog.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @catalog.slug %>
</p>

<p>
  <strong>Type:</strong>
  <%= @catalog.type %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
