<% set_meta_tags title: @catalog.name %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'catalogs' %>
<% end %>

<ol class="breadcrumb bg-color-white catalog-category-etc">
  <li>
    <% url = @catalog.type.downcase.gsub(/catalog$/, '_path') %>

    <%= link_to eval(url) do %>
      <%= @catalog.type %>
    <% end %>
  </li>

  <li class="active">
    <%= @catalog.name %>
  </li>
</ol>

<!-- <div class="col-md-12"> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      <%= link_to catalog_path(@catalog) do %>
        <%= @catalog.name %>
      <% end %>

      <small>
        <%= @catalog.categories_count %>
      </small>
    </h1>
  </div>

  <!-- <div class="panel-body no-padding"> -->

    <ul class="list-group">
      <% @catalog.categories.each do |category| %>
        <li  class="list-group-item">
          <%= link_to category.name, category %>
        </li>
      <% end %>
    </ul>

  <!-- </div> -->
</div>

<%#= link_to 'Edit', edit_catalog_path(@catalog) %>
<%#= link_to 'Back', catalogs_path %>
