<% set_meta_tags title: @catalog.name %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'catalogs' %>
<% end %>

<ol class="breadcrumb bg-color-white catalog-category-etc">
  <li class="normal">
    <% url = @catalog.type.downcase.gsub(/catalog$/, '_path') %>

    <%= link_to eval(url) do %>
      <%= @catalog.human_supercatalog_name %>
    <% end %>
  </li>

  <li class="active">
    <%= @catalog.name %>
  </li>
</ol>

<!-- <div class="col-md-12"> -->
<div class="panel panel-default show-catalog">
  <div class="panel-heading">
    <h2 class="panel-title top-catalog">
      <%= link_to catalog_path(@catalog) do %>
        <%= @catalog.name %>
      <% end %>

      <% if @catalog.sketch.present? %>
        <small>
          <%= @catalog.sketch %>
        </small>
      <% end %>

      <small class="pull-right">
        <%= @catalog.categories_count %>
      </small>
    </h2>
  </div>

  <!-- <div class="panel-body no-padding"> -->

    <ul class="list-group">
      <%= render partial: "categories/list_item", collection: @catalog.categories.online, as: :category %>
    </ul>

  <!-- </div> -->

  <% if @catalog.footnote.present? %>
    <div class="panel-footer">
      <%= simple_format @catalog.footnote, {}, wrapper_tag: false %>
    </div>
  <% end %>
</div>

<%#= link_to 'Edit', edit_catalog_path(@catalog) %>
<%#= link_to 'Back', catalogs_path %>
