<p id="notice"><%= notice %></p>

<h1>
  Quotes

  <small><%= @quotes.unscope(:limit, :offset).count %></small>
</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Record at</th>
      <th>Catalog</th>
      <th>Price</th>
      <th>Up down number</th>
      <th>Up down rate</th>
      <th>Last updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= link_to quote.code, quote %></td>
        <td><%= link_to quote.name, quote %></td>
        <td><%= quote.record_at %></td>
        <td><%= quote.catalog %></td>
        <td><%= quote.price %></td>
        <td><%= quote.up_down_number %></td>
        <td><%= quote.up_down_rate %></td>
        <td><%= quote.last_updated_at %></td>


        <td>
          <% if can? :edit, quote %>
            <%= link_to 'Edit', edit_quote_path(quote) %>
          <% end %>
        </td>
        <td>
          <% if can? :delete, quote %>
            <%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
