<div class="panel profile panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="avatar media-left">
        <div class='image'>
          <%#= user_avatar_tag(@user,:big, link: false) %>
          <%= link_to developer_path(@developer) do %>

            <%= image_tag @developer.avatar, class: "user_avatar media-object avatar-120", alt: @developer.name %>

          <% end %>

        </div>
        <!-- <div class="level"><%#= render_user_level_tag(@user) %></div> -->
      </div>

      <div class="media-body">
        <div class="item">
          <%= @developer.name %>
          <%#= @user.fullname %>
          <!-- <span class="opts pull-right"> -->
            <%# if admin? %>
              <%#= link_to icon_tag("pencil", label: "修改"), edit_cpanel_user_path(@user.id) %>
            <%# end %>
          <!-- </span> -->
          <!-- <span class="pull-right rank"> -->
            <!-- Rank：<%#= @developer.rank %> -->
          <!-- </span> -->
        </div>
        <div class="item number">
          <span>

              <!-- <i class="fa fa-external-link"></i> -->
              任职起始日期：
              <%= @developer.take_office_date.strftime("%F") %>

          </span>
        </div>
        <div class="item counts">
          <span>
            数据更新于：
            <%= @developer.updated_at.strftime("%F %R") %>
          </span>
        </div>

        <div class="item counts">
          <span>
            现任基金公司：

            <% if @developer.catalog.present? %>
              <%= link_to @developer.catalog do %>
                <%= @developer.catalog_name %>
              <% end %>
            <% else %>
              --
            <% end %>
          </span>
        </div>
      </div>
    </div>

    <div class="follow-info row">
      <div class="col-sm-4 col-xs-4 watch">
        <section class="counter">
          <%= @online_developer_projects.size %>支
        </section>

        <section class="text">
          目前管理基金
        </section>
      </div>

      <div class="col-sm-4 col-xs-4 star">
        <section class="counter">
          1602.71亿元
        </section>

        <section class="text">
          现任基金资产总规模
        </section>
      </div>



      <div class="col-sm-4 col-xs-4 fork">
        <section class="counter">
          21.26%
        </section>

        <section class="text">
          任职期间最佳基金回报
        </section>
      </div>
    </div>
  </div>
</div>
