<% set_meta_tags title: "基金经理列表" %>

<h1>
  基金经理

  <small>
    <%= @developers.unscope(:limit, :offset).count %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>就职于某基金公司</th>
      <th>Avatar</th>
      <th>eastmoney</th>
      <th>sina</th>
      <th>Public repos</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= link_to developer.name, developer %></td>
        <td>
          <% developer.catalogs.each do |catalog| %>
            <%= link_to catalog.code, catalog %>
            -
            <%= catalog.name %>
          <% end %>
        </td>
        <td><%= developer.avatar %></td>
        <td><%= developer.eastmoney_code %></td>
        <td><%= developer.sina_code %></td>
        <td><%= developer.developer_projects.count %></td>

        <td><%= link_to 'Show', developer %></td>

        <% if can? :edit, developer %>
          <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
        <% end %>

        <% if can? :destroy, developer %>
          <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= magic_paginate @developers %>

<br>

<%= link_to 'New Developer', new_developer_path %>
