<h1>User Star Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_star_projects.each do |user_star_project| %>
      <tr>
        <td><%= user_star_project.user_id %></td>
        <td><%= user_star_project.project_id %></td>
        <td><%= link_to 'Show', user_star_project %></td>
        <td><%= link_to 'Edit', edit_user_star_project_path(user_star_project) %></td>
        <td><%= link_to 'Destroy', user_star_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Star Project', new_user_star_project_path %>
