<li class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to comment.user do %>
        <%= image_tag comment.user.avatar_url(:thumb), class: "half-thumb radius-50" %>
      <% end %>

      <%= link_to comment.user do %>
        <%= comment.user.name %>

        <% if comment.user.has_full_name? %>
          (<%= comment.user.show_full_name %>)
        <% end %>
      <% end %>
    </h4>

    <%= simple_format comment.content %>
  </div>
</li>
