<%= form_for(article) do |f| %>
  <div class="form-group">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :description, "正文内容" %>
    <%= f.text_area :description, id: "editor", autofocus: true, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>

<%= javascript_include_tag 'simditor/use' %>
