<%= stylesheet_link_tag 'simditor/simditor' %>
<%= stylesheet_link_tag 'rich_media' %>

<%= javascript_include_tag 'simditor/all' %>


<div class="rich_media_inner">
  <h1>Editing Article</h1>

  <div class="article-content">
    <%= render 'form', article: @article %>
  </div>

  <%= link_to 'Show', @article %> |
  <%= link_to 'Back', articles_path %>
</div>