<% set_meta_tags title: @article.title %>

<h1>
  <%= @article.title %>
</h1>

<%= format_content @article.description, 'article-content' %>

<% if can? :edit, @article %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>

<%#= link_to 'Back', articles_path %>

<!-- 评价 -->
<!-- <div class="col-md-12 clearfix"> -->
  <% if @comments.present? %>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        评论
        <small class="pull-right">
          <%#= @comments.size %>
        </small>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <%#= render partial: "comments/comment", collection: @comments %>
        </ul>
      </div>
    </div> -->

    <% @comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading" name="floor-<%= comment.floor %>" id="floor-<%= comment.floor %>">
          <%= link_to comment.user do %>
            <%= image_tag comment.user.avatar_url(:thumb), class: "half-thumb radius-50" %>
          <% end %>

          <%= link_to comment.user do %>
            <%= comment.user.name %>

            <% if comment.user.has_full_name? %>
              (<%= comment.user.show_full_name %>)
            <% end %>
          <% end %>

          <small>
            <%= time_ago_in_words(comment.created_at) %> ago.
          </small>

          <% if can? :edit, comment %>
            <%= link_to "编辑", edit_comment_path(comment) %>
            <%= link_to '删除', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

          <%= link_to "", class: "pull-right", style: "margin-left: 15px;" do %>
            <i class="fa fa-heart"></i>

            <% if comment.user_favor_comments.size > 0 %>
              <%= comment.user_favor_comments.size %>
              个赞
            <% end %>
          <% end %>

          <span class="pull-right">
            <%= link_to "##{comment.floor}楼", "#floor-#{comment.floor}" %>
          </span>

        </div>
        <div class="panel-body">
          <%= simple_format comment.content %>
        </div>
      </div>
    <% end %>
  <% end %>


  <div class="panel panel-default">
    <div class="panel-heading">评论</div>
    <div class="panel-body">
      <%= render 'comments/form', comment: @comment, commentable: @article %>
    </div>
  </div>
<!-- </div> -->
