<% set_meta_tags title: @article.title %>
<%= stylesheet_link_tag 'rich_media' %>

<%= stylesheet_link_tag 'simditor/simditor' %>

<div class="bg-with-white">
  <div class="rich_media_inner">
    <ol class="breadcrumb no-padding-left">
      <li>
        <%= link_to "文章列表", articles_path %>
      </li>
      <li>
        <%= link_to @article.article_category.name, @article.article_category %>
      </li>
    </ol>

    <h1 class="title">
      <%= @article.title %>

      <% if can? :edit, @article %>
        <small class="pull-right">
          <%= link_to '编辑', edit_article_path(@article) %>
        </small>
      <% end %>
    </h1>

    <div class="media">
      <div class="media-left">
        <%= link_to @article.user, target: "_blank" do %>
          <%= image_tag @article.user.avatar_url(:thumb), class: "media-object half-thumb radius-50", alt: @article.user.username %>
        <% end %>
      </div>

      <div class="media-body media-middle">
        <%= link_to @article.user.username, @article.user %>
         · 
        <%= time_ago_in_words(@article.created_at) %>前
         · 
        <%= @article.view_times %>次浏览
      </div>
    </div>

    <div class="article-content simditor">
      <div class="simditor-body">
        <%= format_content @article.description, 'article-content' %>
      </div>
    </div>


    <div class="text-center margin-bottom-20" id="article-agreement-box">
      <% agreement = AgreementArticle.find_by(user_id: current_user.id, article_id: @article.id) if user_signed_in? %>

      <% if user_signed_in? && agreement.present? %>
        <%= render 'articles/un_agreement', article: @article, agreement: agreement %>
      <% else %>
        <%= render 'articles/agreement', article: @article %>
      <% end %>
    </div>


    <!-- 评价 -->
    <% if @comments.present? %>
      <%= render partial: "articles/comment", collection: @comments %>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">评论</div>
      <div class="panel-body">
        <%= render 'comments/form', comment: @comment, commentable: @article %>
      </div>
    </div>
  </div>
</div>

<style>
  .simditor {
    border: 1px solid #f5f5f5;
  }
</style>
