<p id="notice"><%= notice %></p>

<h1>Panel Episodes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @panel_episodes.each do |panel_episode| %>
      <tr>
        <td><%= link_to 'Show', panel_episode %></td>
        <td><%= link_to 'Edit', edit_panel_episode_path(panel_episode) %></td>
        <td><%= link_to 'Destroy', panel_episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Panel Episode', new_panel_episode_path %>
