<%= form_tag search_quickrank_index_path do %>
  <% if defined?(search_type) %>
    <%= hidden_field_tag :search_type, search_type %>
  <% end %>


  <%= render "quickrank/form/three_year_rating" %>

  <%= render "quickrank/form/five_year_rating" %>

  <% if defined?(delivery_style) && delivery_style %>
    <%= render "quickrank/form/delivery_style" %>
  <% end %>

  <% if defined?(project_category) && project_category %>
    <%= render "quickrank/form/project_category" %>
  <% end %>

  <% if defined?(fund_type_classify) && fund_type_classify %>
    <%= render "quickrank/form/fund_type_classify" %>
  <% end %>


  <div class="form-group clearfix">
    <select name="company_id" id="company_id" style="width:180px;">
      <option selected="selected" value="">--基金公司--</option>

      <%= options_for_select(Catalog.has_projects.pluck(:name, :id), params[:company_id]) %>
    </select>

    <%= text_field_tag :project_name, params[:project_name], placeholder: "基金名称" %>


    <%= submit_tag "查询", class: "btn btn-primary pull-right" %>
  </div>
<% end %>
