<ul class="nav nav-pills">
  <li role="presentation" class="<%= active_tab(snapshot_quickrank_index_path) %>">
    <%= link_to "基金龙虎榜", snapshot_quickrank_index_path %>
  </li>
  <li role="presentation" class="<%= active_tab(performance_quickrank_index_path) %>">
    <%= link_to "业绩和风险", performance_quickrank_index_path %>
  </li>
  <li role="presentation" class="<%= active_tab(portfolio_quickrank_index_path) %>">
    <%= link_to "投资组合", portfolio_quickrank_index_path %>
  </li>

  <li role="presentation" class="<%= active_tab(history_quickrank_index_path) || active_tab(search_quickrank_index_path) %>">
    <%= link_to "晨星历史数据", history_quickrank_index_path %>
  </li>
</ul>
