<% set_meta_tags description: Settings.website.slogan %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<% content_for :prefix do %>
  <div class="col-md-12 bg-color-white prefix">
    <h1 class="slogan">
      <%= Settings.website.slogan %>
    </h1>
  </div>
<% end %>


<div class="col-md-12 recommend-projects">
  <div class="row">
    <%= render partial: "home/project", collection: @recommend_gems, as: :project %>
  </div>

  <!-- <hr>

  <div class="row">
    <%#= render partial: "home/project", collection: @packages, as: :project %>
  </div> -->

  <hr>

  <div class="row">
    <%= render partial: "home/project", collection: @recommend_pods, as: :project %>
  </div>
</div>


<div class="col-md-12 content" style="margin-top: 20px;padding-top: 20px;">
  <div class="col-md-6 no-padding-left xs-no-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="top-catalog">
          <%= link_to rails_path do %>
            <%= Catalog::TOP_PLURAL['gemspec'] %>
          <% end %>
        </h2>

        <section class="pull-right">
          <%= RailsCatalog.online.count %>
        </section>
      </div>
      <!-- <div class="panel-body"> -->
        <ul class="list-group">
          <%= render partial: "home/catalog", as: :catalog, collection: RailsCatalog.online.includes(:categories) %>
        </ul>
      <!-- </div> -->
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="top-catalog">
          <%#= link_to laravel_path do %>
            Packages
          <%# end %>
        </h2>

        <section class="pull-right">
          <%#= LaravelCatalog.count %>
        </section>
      </div>

      <div class="panel-body"> -->
        <!-- <ul class="list-group"> -->
          <%#= render partial: "home/catalog", as: :catalog, collection: LaravelCatalog.all.includes(:categories) %>
        <!-- </ul> -->
      <!-- </div>
    </div>
  </div> -->

  <div class="col-md-6 no-padding-right xs-no-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="top-catalog">
          <%= link_to swift_path do %>
            <%= Catalog::TOP_PLURAL['pod'] %>
          <% end %>
        </h2>

        <section class="pull-right">
          <%= SwiftCatalog.online.count %>
        </section>
      </div>

      <!-- <div class="panel-body"> -->
        <ul class="list-group">
          <%= render partial: "home/catalog", as: :catalog, collection: SwiftCatalog.online.includes(:categories) %>
        </ul>
      <!-- </div> -->
    </div>
  </div>
</div>


<% content_for :postfix do %>
  <!-- <div class="col-md-12 bg-color-white postfix">
    <h1 class="slogan">
      随便放点东西，以查看布局。。。
    </h1>
  </div> -->
<% end %>
