<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<% content_for :prefix do %>
  <h1 class="slogan">
    Projects worth sharing, Know Your Options!
  </h1>
<% end %>


<div class="row">
  <% @gems.each do |gem| %>
    <div class="col-md-4">
      <h3><%= gem.name %></h3>

      <%= simple_format gem.description %>
    </div>
  <% end %>
</div>

<hr>

<div class="row">
  <% @packages.each do |package| %>
    <div class="col-md-4">
    <h3><%= package.name %></h3>

    <%= simple_format package.description %>

    </div>
  <% end %>
</div>

<hr>

<div class="row">
  <% @pods.each do |pod| %>
    <div class="col-md-4">
    <h3><%= pod.name %></h3>

    <%= simple_format pod.description %>

    </div>
  <% end %>
</div>

<hr>


<div class="row">
  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="top-catalog">
        <%= link_to rails_path do %>
          Rails
        <% end %>
      </h2>

      <section class="pull-right">
        <%= RailsCatalog.count %>
      </section>
    </div>
    <div class="panel-body">
      <ul class="list-group row">
        <%= render partial: "home/catalog", as: :catalog, collection: RailsCatalog.all.includes(:categories) %>
      </ul>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="top-catalog">
        <%= link_to laravel_path do %>
          Laravel
        <% end %>
      </h2>

      <section class="pull-right">
        <%= LaravelCatalog.count %>
      </section>
    </div>

    <div class="panel-body">
      <ul class="list-group row">
        <%= render partial: "home/catalog", as: :catalog, collection: LaravelCatalog.all.includes(:categories) %>
      </ul>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="top-catalog">
        <%= link_to swift_path do %>
          Swift
        <% end %>
      </h2>

      <section class="pull-right">
        <%= SwiftCatalog.count %>
      </section>
    </div>

    <div class="panel-body">
      <ul class="list-group row">
        <%= render partial: "home/catalog", as: :catalog, collection: SwiftCatalog.all.includes(:categories) %>
      </ul>
    </div>
  </div>
  </div>
</div>