<%= form_for panel_catalog, url: panel_catalog_path(panel_catalog), as: :catalog do |f| %>
  <% if panel_catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panel_catalog.errors.count, "error") %> prohibited this panel_catalog from being saved:</h2>

      <ul>
      <% panel_catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>

    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :slug %>

    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :type %>

    <%= f.select :type, options_for_select(Catalog.pluck(:type).uniq, panel_catalog.type), {include_blank: true}, class: "form-control" %>

    <p class="help-block">RailsCatalog, SwiftCatalog</p>
  </div>

  <div class="field form-group">
    <%= f.label :sketch %>

    <%= f.text_field :sketch, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :footnote %>
    <%= f.text_area :footnote, class: "form-control", rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
