<h1>
  Panel Catalogs

  <small>
    <%= link_to 'New Panel Catalog', new_panel_catalog_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Top Catalog</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @panel_catalogs.each do |panel_catalog| %>
      <tr>
        <td><%= panel_catalog.human_supercatalog_name %></td>
        <td>
          <%= link_to panel_catalog.name, panel_catalog_path(panel_catalog) %>
        </td>
        <td><%= link_to 'Show', panel_catalog_path(panel_catalog) %></td>
        <td><%= link_to 'Edit', edit_panel_catalog_path(panel_catalog) %></td>
        <td><%= link_to 'Destroy', panel_catalog_path(panel_catalog), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @panel_catalogs %>
