<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :wiki %>
    <%= f.text_field :wiki %>
  </div>

  <div class="field">
    <%= f.label :source_code %>
    <%= f.text_field :source_code %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%#= f.number_field :category_id %>

    <% category = project.category %>

    <% if category.present? %>
      <% categories = category.class.online %>
    <% else %>
      <% categories = Category.online %>
    <% end %>

    <%= f.select :category_id, categories.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
