<li class="media project-item">

  <div class="media-body">
    <h4 class="media-heading title">
      <%= link_to project, class: "" do %>
        <%= project.show_name %>
      <% end %>
      <small>
        <%= project.code %>
      </small>

      <br>

      <small>
        <%= project.mold %>
        <%#= link_to (url_for repo_url(project.repo_params)), (url_for repo_path(project.repo_params)) %>
      </small>
    </h4>

    <%= simple_format project.description, {class: "text-muted description"} %>

    <%#= render "projects/footer_info", project: project %>

    <!-- <hr> -->

  </div>
</li>
