<li class="media">

  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to repo_path(project.repo_params) do %>
        <%= project.name %>
        <br>
        <small>
          <%= link_to (url_for repo_url(project.repo_params)), (url_for repo_path(project.repo_params)) %>
        </small>
      <% end %>
    </h4>

    <%= simple_format project.description %>

    <%= render "projects/footer_info", project: project %>

    <hr>

  </div>
</li>
