<p id="notice"><%= notice %></p>

<h1>
  Projects
  <small>
    <%= link_to 'New Project', new_project_path %>
  </small>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Website</th>
      <th>Wiki</th>
      <th>Source code</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project do %>
            <%= project.name %>
          <% end %>
        </td>

        <td><%= project.description %></td>
        <td><%= project.website %></td>
        <td><%= project.wiki %></td>
        <td><%= project.source_code %></td>
        <td>
          <%= project.category_id %>

          <% if project.category.present? %>
            <%= project.category.name %>
          <% end %>
        </td>

        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
