<div class="x">
  <ul class="nav nav-tabs">
    <li class="<%= active_tab(search_projects_path) %>">
      <%= link_to search_projects_path(q: params[:q]) do %>
        全部
      <% end %>
    </li>

    <li class="<%= active_tab(search_gem_projects_path) %>">
      <%= link_to search_gem_projects_path(q: params[:q]) do %>
        Gem
      <% end %>
    </li>

    <li class="<%= active_tab(search_package_projects_path) %>">
      <%= link_to search_package_projects_path(q: params[:q]) do %>
        Package
      <% end %>
    </li>

    <li class="<%= active_tab(search_pod_projects_path) %>">
      <%= link_to search_pod_projects_path(q: params[:q]) do %>
        Pod
      <% end %>
    </li>
  </ul>
</div>

<div class="y">
  搜索 "<%= params[:q] %>"，找到约 <%= @projects.size %> 条结果
</div>

<div class="z">
  <ul>
    <% @projects.each do |project| %>
      <li>
        <div>
          <%= link_to project.name, project %>
        </div>

        <div>
          <%= link_to (url_for project), (url_for project) %>
        </div>

        <div>
          <%= project.description %>
        </div>
      </li>
    <% end %>
  </ul>
</div>