<% set_meta_tags title: "#{@project.short_github_indentity}: #{@project.description}", description: @project.description %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'projects' %>
<% end %>


<% if @project.category.present? %>
  <div class="panel panel-default popular-projects">
    <ol class="breadcrumb catalog-category-etc">
      <li class="normal">
        <% url = @project.category.catalog.type.downcase.gsub(/catalog$/, '_path') %>

        <%= link_to eval(url) do %>
          <%= @project.category.catalog.human_supercatalog_name %>
        <% end %>
      </li>

      <li class="normal">
        <%= link_to catalog_path(@project.category.catalog) do %>
          <%= @project.category.catalog.name %>
        <% end %>
      </li>

      <li class="normal">
        <%= link_to @project.category, target: "_blank" do %>
          <%= @project.category.name %>
        <% end %>
      </li>

      <li class="active"><%= @project.name %></li>

      <% if can? :create, 'RecommendProject' %>
        <li class="pull-right">
          <%= link_to "今日推荐", new_project_recommend_project_path(@project), remote: true %>
        </li>
      <% end %>
    </ol>

    <%= render "projects/popular_item" %>
  </div>
<% end %>


<div class="project-wraper clearfix">
  <% case @project.identity %>
  <% when "gemspec" %>
    <%#= render "projects/show/gemspec", project: @project, info: @project.gem_info, github: @project.github_info %>

    <% project = @project %>
    <% info = @project.gem_info %>
    <% github = @project.github_info %>

    <div class="readme-content col-sm-9 col-xs-12">
      <div class="inline-headline">
        <h1 class="name-title">
          <%= link_to project.show_name, repo_path(project.repo_params) %>

          <small class="text-muted">
            <%= info.current_version %>
          </small>
        </h1>
      </div>

      <ul class="attribution">
        <li>By</li>
        <li><%= info.others['authors'] %></li>
      </ul>

      <nav class="github-popularity">
        <ul>
          <li class="github-link">
            <%= link_to popularity_repo_path(project.repo_params) do %>
              <%= image_tag project.developer.avatar_url(:thumb), class: "half-thumb radius-50" %>
            <% end %>

            <a class="hidden-xs" href="<%= github.others['html_url'] %>">
              <%= github.others['full_name'] %>
            </a>
          </li>

          <li class="metadata pull-right quality_indicator quality_4">
            <%= link_to popularity_repo_path(project.repo_params) do %>
              popularity <%= project.popularity %>
            <% end %>
          </li>
        </ul>
      </nav>


      <div class="clearfix"></div>


      <div class="tab-content">
        <div class="tab-pane active" id="readme">
          <%= simple_format project.description %>
        </div>

        <div class="tab-pane" id="changelog_content"></div>
      </div>
    </div>


    <div class="sideline col-sm-3 col-xs-12">
      <h3>Downloads</h3>
      <table class="inset">
        <tbody>
          <tr>
            <td>Total</td>
            <td><%= number_with_delimiter info.total_downloads %></td>
          </tr>

          <tr>
            <td>下载</td>
            <td>
              <%= link_to github.others['downloads_url'].gsub(/downloads$/, 'zipball'), target: "_blank" do %>
                <i class="fa fa-download"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="input-group copy-addon">
        <%= text_field_tag :clone_url, github.others['clone_url'], class: "form-control", readonly: true, id: "foo" %>

        <div class="input-group-addon">
          <%= button_tag class: "copy btn btn-default", data: {"clipboard-target" => "#foo"} do %>
            <i class="fa fa-book"></i>
          <% end %>
        </div>
      </div>

      <hr>

      <h3>GitHub</h3>
      <table class="inset">
        <tbody>
          <tr>
            <td>Watchers</td>
            <td class="pull-right">
              <%= github.watchers_count %>
            </td>
          </tr>

          <tr>
            <td>Stars</td>
            <td class="pull-right">
              <%= github.subscribers_count %>
            </td>
          </tr>

          <tr>
            <td>Forks</td>
            <td class="pull-right">
              <%= github.forks_count %>
            </td>
          </tr>

          <tr>
            <td>创建于</td>
            <td class="pull-right">
              <%#= (github.others['pushed_at']).to_time.strftime("%F %R") %>
              <%= (github.others['created_at']).to_time.strftime("%Y.%-m.%d") %>
            </td>
          </tr>

          <tr>
            <td>最后更新</td>
            <td class="pull-right">
              <%#= (github.others['pushed_at']).to_time.strftime("%F %R") %>
              <%= time_ago_in_words(github.others['pushed_at']) %> ago.
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <h3>Gem</h3>
      <table class="inset">
        <tbody>
          <tr>
            <td>主页</td>
            <td class="pull-right">
              <%= link_to "查看", info.others['project_uri'] %>
            </td>
          </tr>

          <tr>
            <td>RDoc</td>
            <td class="pull-right">
              <%= link_to "查看", info.others['documentation_uri'] %>
            </td>
          </tr>

          <% if info.has_wiki? %>
            <tr>
              <td>Wiki</td>
              <td class="pull-right">
                <%= link_to "查看", info.wiki_uri %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <hr>


      <ul class="links">
        <li>
          <%= link_to github.others['homepage'] do %>
            <i class="fa fa-home"></i>
            Homepage
          <% end %>
        </li>

        <li>
          <%= link_to github.others['html_url'] do %>
            <i class="fa fa-github"></i>
            GitHub Repo
          <% end %>
        </li>
      </ul>
    </div>


  <% when "package" %>
    <%= render "projects/show/package", project: @project, info: @project.package_info, github: @project.github_info %>
  <% when "pod" %>
    <%#= render "projects/show/pod", project: @project, info: @project.pod_info, github: @project.github_info %>


    <% project = @project %>
    <% info = @project.pod_info %>
    <% github = @project.github_info %>

    <div class="readme-content col-sm-9 col-xs-12">
      <div class="inline-headline">
        <h1 class="name-title">
          <%= link_to project.show_name, repo_path(project.repo_params) %>
          <span class="text-muted"><%= info.current_version %></span>
        </h1>
      </div>


      <ul class="attribution">
        <li>By</li>
        <li><%= github.others['owner']['login'] %></li>
      </ul>


      <nav class="github-popularity">
        <ul>
          <li class="github-link">


            <%= link_to popularity_repo_path(project.repo_params) do %>
              <%= image_tag project.developer.avatar_url(:thumb), class: "half-thumb radius-50" %>
            <% end %>

            <a class="hidden-xs" href="<%= github.others['html_url'] %>">
              <%= github.others['full_name'] %>
            </a>

          </li>



          <li class="metadata pull-right quality_indicator quality_4">
            <%= link_to popularity_repo_path(project.repo_params) do %>
              popularity <%= project.popularity %>
            <% end %>
          </li>
        </ul>
      </nav>


      <div class="clearfix"></div>



      <div class="tab-content">
        <div class="tab-pane active" id="readme">
            <%= simple_format project.description %>
        </div>

        <div class="tab-pane" id="changelog_content"></div>
      </div>
    </div>


    <div class="sideline col-sm-3 col-xs-12">


      <h3>Downloads</h3>
      <table class="inset">
        <tbody>
          <tr>
            <td>Total</td>
            <td><%= number_with_delimiter info.others['stats']['download_total'] %></td>
          </tr>
          <tr>
            <td>Week</td>
            <td><%= number_with_delimiter info.others['stats']['download_week'] %></td>
          </tr>
          <tr>
            <td>Month</td>
            <td><%= number_with_delimiter info.others['stats']['download_month'] %></td>
          </tr>

          <tr>
            <td>下载</td>
            <td>
              <%= link_to github.others['downloads_url'].gsub(/downloads$/, 'zipball'), target: "_blank" do %>
                <i class="fa fa-download"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="input-group copy-addon">
        <%= text_field_tag :clone_url, github.others['clone_url'], class: "form-control", readonly: true, id: "foo" %>

        <div class="input-group-addon">
          <%= button_tag class: "copy btn btn-default", data: {"clipboard-target" => "#foo"} do %>
            <i class="fa fa-book"></i>
          <% end %>
        </div>
      </div>

      <hr>

      <h3>GitHub</h3>
      <table class="inset">
        <tbody>
          <tr>
            <td>Watchers</td>
            <td class="pull-right"><%= github.watchers_count %></td>
          </tr>

          <tr>
            <td>Stars</td>
            <td class="pull-right"><%= github.subscribers_count %></td>
          </tr>

          <tr>
            <td>Forks</td>
            <td class="pull-right"><%= github.forks_count %></td>
          </tr>

          <tr>
            <td>创建于</td>
            <td class="pull-right">
              <%#= (github.others['pushed_at']).to_time.strftime("%F %R") %>
              <%= (github.others['created_at']).to_time.strftime("%Y.%-m.%d") %>
            </td>
          </tr>

          <tr>
            <td>最后更新</td>
            <td class="pull-right">
              <%= time_ago_in_words(github.others['pushed_at']) %>
            </td>
          </tr>
        </tbody>
      </table>


      <hr>


      <ul class="links">
        <li>
          <%= link_to "GitHub Repo", github.others['html_url'] %>
        </li>
        <li>
          <%= link_to "Page on CocoaPods.org", "https://cocoapods.org/pods/#{project.name}" %>
        </li>
      </ul>
    </div>


  <% else %>
    <%= render "projects/show/project", project: @project %>
  <% end %>



  <div class="panel-footer clearfix col-md-9 append-panel-footer">
      <div class="opts">

        <%= render "projects/status", project: @project %>


        <span class="pull-right view-times">
          <%= @project.view_times %> 次查看
        </span>
      </div>
  </div>

</div>

<% unless Rails.env.production? %>
  <!-- <div class="col-md-12"> -->
    <!-- GitHub Info -->
    <% if @project.github_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          GitHub Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.github_info.attributes.keys %>

              <br>
              others: <%= @project.github_info.others.keys %>
            </li>

            <% @project.github_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Package Info -->
    <% if @project.package_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Package Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.package_info.attributes.keys %>

              <br>
              others: <%= @project.package_info.others.keys %>
            </li>

            <% @project.package_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Pod Info -->
    <% if @project.pod_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Pod Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.pod_info.attributes.keys %>

              <br>
              others: <%= @project.pod_info.others.keys %>
            </li>

            <% @project.pod_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Gem Info -->
    <% if @project.gem_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Gem Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.gem_info.attributes.keys %>

              <br>
              others: <%= @project.gem_info.others.keys %>
            </li>

            <% @project.gem_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
<% end %>

<!-- <div class="col-md-12 clearfix"> -->
  <% if @comments.present? %>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">
        评论
        <small class="pull-right">
          <%#= @comments.size %>
        </small>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <%#= render partial: "comments/comment", collection: @comments %>
        </ul>
      </div>
    </div> -->

    <% @comments.each do |comment| %>
      <div class="panel panel-default">
        <div class="panel-heading" name="floor-<%= comment.floor %>" id="floor-<%= comment.floor %>">
          <%= link_to comment.user do %>
            <%= image_tag comment.user.avatar_url(:thumb), class: "half-thumb radius-50" %>
          <% end %>

          <%= link_to comment.user do %>
            <%= comment.user.name %>

            <% if comment.user.has_full_name? %>
              (<%= comment.user.show_full_name %>)
            <% end %>
          <% end %>

          <small>
            <%= time_ago_in_words(comment.created_at) %> ago.
          </small>

          <% if can? :edit, comment %>
            <%= link_to "编辑", edit_comment_path(comment) %>
            <%= link_to '删除', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

          <%= link_to "", class: "pull-right", style: "margin-left: 15px;" do %>
            <i class="fa fa-heart"></i>

            <% if comment.user_favor_comments.size > 0 %>
              <%= comment.user_favor_comments.size %>
              个赞
            <% end %>
          <% end %>

          <span class="pull-right">
            <%= link_to "##{comment.floor}楼", "#floor-#{comment.floor}" %>
          </span>

        </div>
        <div class="panel-body">
          <%= simple_format comment.content %>
        </div>
      </div>
    <% end %>
  <% end %>


  <div class="panel panel-default">
    <div class="panel-heading">评论</div>
    <div class="panel-body">
      <%= render 'comments/form', comment: @comment, commentable: @project %>
    </div>
  </div>
<!-- </div> -->

<% content_for :javascripts do %>
  <%= javascript_include_tag 'projects' %>

  <script>
    new Clipboard('button.copy');
  </script>
<% end %>
