<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'projects' %>
<% end %>

<div class="row">
  <% case @project.identity %>
  <% when "gem" %>
    <%= render "projects/gem", project: @project, info: @project.gem_info, github: @project.github_info %>
  <% when "package" %>
    <%= render "projects/package", project: @project, info: @project.package_info, github: @project.github_info %>
  <% when "pod" %>
    <%= render "projects/pod", project: @project, info: @project.pod_info, github: @project.github_info %>
  <% else %>
    <%= render "projects/project", project: @project %>
  <% end %>
</div>

<% unless Rails.env.production? %>
  <div class="row">
    <!-- GitHub Info -->
    <% if @project.github_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          GitHub Info
        </div>

        <div class="panel-body">
          <ul>
            <% @project.github_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Package Info -->
    <% if @project.package_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Package Info
        </div>

        <div class="panel-body">
          <ul>
            <% @project.package_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Pod Info -->
    <% if @project.pod_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Pod Info
        </div>

        <div class="panel-body">
          <ul>
            <% @project.pod_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Gem Info -->
    <% if @project.gem_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Gem Info
        </div>

        <div class="panel-body">
          <ul>
            <% @project.gem_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
