<% set_meta_tags title: @project.name, description: @project.description %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'projects' %>
<% end %>


<% if @project.category.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% url = @project.category.catalog.type.downcase.gsub(/catalog$/, '_path') %>

      <%= link_to eval(url) do %>
        <%= @project.category.catalog.human_supercatalog_name %>
      <% end %>
      /
      <%= link_to catalog_path(@project.category.catalog) do %>
        <%= @project.category.catalog.name %>
      <% end %>
      /
      <%= link_to @project.category, target: "_blank" do %>
        <%= @project.category.name %>
      <% end %>
      /
      <%= @project.name %>
    </div>

    <div class="panel-body">
      <% @projects.each do |project| %>
        <div class="col-md-2">
          <%= link_to repo_path(project.repo_params), target: "_blank" do %>
            <%= project.show_name %>
            <br>
            <%= project.popularity %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


<div class="project-wraper clearfix">
  <% case @project.identity %>
  <% when "gemspec" %>
    <%= render "projects/show/gemspec", project: @project, info: @project.gem_info, github: @project.github_info %>
  <% when "package" %>
    <%= render "projects/show/package", project: @project, info: @project.package_info, github: @project.github_info %>
  <% when "pod" %>
    <%= render "projects/show/pod", project: @project, info: @project.pod_info, github: @project.github_info %>
  <% else %>
    <%= render "projects/show/project", project: @project %>
  <% end %>



  <div class="panel-footer clearfix col-md-9" style="border-bottom: 1px solid #ddd;border-top: none;">
      <div class="opts">


          <a title="取消收藏" class="bookmark  active" data-id="24693" href="#"><i class="fa fa-bookmark"></i> 收藏</a>

          <a data-count="40" data-state="" data-type="Topic" data-id="24693" class="likeable  tooltipstered" href="#"><i class="fa fa-heart"></i> <span>40 个推荐</span></a>
        <span class="pull-right opts">
          2011 次点击
        </span>

      <!--   <div class="pull-right">
        </div> -->
      </div>
  </div>

</div>

<% unless Rails.env.production? %>
  <!-- <div class="col-md-12"> -->
    <!-- GitHub Info -->
    <% if @project.github_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          GitHub Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.github_info.attributes.keys %>

              <br>
              others: <%= @project.github_info.others.keys %>
            </li>

            <% @project.github_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Package Info -->
    <% if @project.package_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Package Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.package_info.attributes.keys %>

              <br>
              others: <%= @project.package_info.others.keys %>
            </li>

            <% @project.package_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Pod Info -->
    <% if @project.pod_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Pod Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.pod_info.attributes.keys %>

              <br>
              others: <%= @project.pod_info.others.keys %>
            </li>

            <% @project.pod_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Gem Info -->
    <% if @project.gem_info.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          Gem Info
        </div>

        <div class="panel-body">
          <ul>
            <li>
              keys: <%= @project.gem_info.attributes.keys %>

              <br>
              others: <%= @project.gem_info.others.keys %>
            </li>

            <% @project.gem_info.attributes.each_pair do |key, value| %>
              <li>
                <strong><%= key %>:</strong>
                <%= value %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <!-- </div> -->
<% end %>

<!-- <div class="col-md-12 clearfix"> -->
  <% if @comments.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        评论
        <small class="pull-right">
          <%= @comments.size %>
        </small>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <%= render partial: "comments/comment", collection: @comments %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="panel panel-default">
    <div class="panel-heading">评论</div>
    <div class="panel-body">
      <%= render 'comments/form', comment: @comment, commentable: @project %>
    </div>
  </div>
<!-- </div> -->
