<% if panel_category.new_record? %>
  <% url = panel_categories_path %>
<% else %>
  <% url = panel_category_path(panel_category) %>
<% end %>


<%= form_for panel_category, url: url do |f| %>
  <% if panel_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panel_category.errors.count, "error") %> prohibited this panel_category from being saved:</h2>

      <ul>
      <% panel_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(Category.statuses.keys, panel_category.status), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :catalog_id %>
    <%= f.select :catalog_id, Catalog.all.collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, {class: "form-control select2"} %>
  </div>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary", data: {disable_with: "提交..."} %>
  </div>
<% end %>
