<h1>
  Editing Panel Category

  <small>
    <%= link_to 'Show', @panel_category %>
  </small>

  <small class="pull-right">
    <%= link_to 'Back', search_panel_categories_path(name: @panel_category.name) %>
  </small>
</h1>

<%= render 'form', panel_category: @panel_category %>

<hr>

<% if @panel_category.projects.present? %>
  已有项目：

  <ul>
    <% @panel_category.projects.order(popularity: :desc).pluck(:source_code).each do |source_code| %>
      <li>
        <%= source_code %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_tag create_projects_panel_category_path(@panel_category) do %>
  <div class="form-group">
    <%= label_tag :projects_source_code %>

    <%= text_area_tag :projects_source_code, params[:projects_source_code], class: "form-control", rows: 5 %>
  </div>

  <%= submit_tag "提交", class: "btn btn-default", data: {disable_with: "提交..."} %>
<% end %>
