<h1>
  <%= @panel_category.name %>

  <small>
    <%= link_to 'Edit', edit_panel_category_path(@panel_category) %>
  </small>

  <small class="pull-right">
    <%= link_to 'Back', panel_categories_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <%= render "panel/categories/thead" %>
  </thead>

  <tbody>
    <%= render "panel/categories/tbody", panel_category: @panel_category %>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    name
  </div>

  <div class="panel-body">
    <%= simple_format @panel_category.name %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <%= render "panel/projects/item_thead" %>
  </thead>

  <tbody>
    <%= render partial: "panel/projects/item_tbody", collection: @projects, as: :project %>
  </tbody>
</table>


<%= magic_paginate @projects %>
