<h1>
  <%= @panel_category.name %>

  <small>
    <%= link_to 'Edit', edit_panel_category_path(@panel_category) %>
  </small>

  <small class="pull-right">
    <%= link_to 'Back', panel_categories_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <%= render "panel/categories/th" %>
  </thead>

  <tbody>
    <%= render "panel/categories/tbody", panel_category: @panel_category %>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    name
  </div>

  <div class="panel-body">
    <%= simple_format @panel_category.name %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>项目作者</th>
      <th>项目名</th>
      <th>Identity</th>
      <th>Status</th>
      <th>Github</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.author %></td>
        <td><%= link_to project.name, panel_project_path(project) %></td>
        <td><%= project.identity %></td>
        <td><%= project.status %></td>
        <td><%= project.github_info.present? %></td>
        <td><%= project.relate_info.present? %></td>
        <td><%= link_to '前台展示', project, target: "_blank" %></td>
        <td><%= link_to 'Edit', edit_panel_project_path(project) %></td>
        <td><%= link_to 'Destroy', panel_project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @projects %>
