<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @fund_ranking.project_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @fund_ranking.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fund_ranking.name %>
</p>

<p>
  <strong>Dwjz:</strong>
  <%= @fund_ranking.dwjz %>
</p>

<p>
  <strong>Three year rating:</strong>
  <%= @fund_ranking.three_year_rating %>
</p>

<p>
  <strong>Five year rating:</strong>
  <%= @fund_ranking.five_year_rating %>
</p>

<p>
  <strong>Last week total return:</strong>
  <%= @fund_ranking.last_week_total_return %>
</p>

<p>
  <strong>Last week ranking:</strong>
  <%= @fund_ranking.last_week_ranking %>
</p>

<p>
  <strong>Last month total return:</strong>
  <%= @fund_ranking.last_month_total_return %>
</p>

<p>
  <strong>Last month ranking:</strong>
  <%= @fund_ranking.last_month_ranking %>
</p>

<p>
  <strong>Last three month total return:</strong>
  <%= @fund_ranking.last_three_month_total_return %>
</p>

<p>
  <strong>Last three month ranking:</strong>
  <%= @fund_ranking.last_three_month_ranking %>
</p>

<p>
  <strong>Last six month total return:</strong>
  <%= @fund_ranking.last_six_month_total_return %>
</p>

<p>
  <strong>Last six month ranking:</strong>
  <%= @fund_ranking.last_six_month_ranking %>
</p>

<p>
  <strong>Last year total return:</strong>
  <%= @fund_ranking.last_year_total_return %>
</p>

<p>
  <strong>Last year ranking:</strong>
  <%= @fund_ranking.last_year_ranking %>
</p>

<p>
  <strong>Last two year total return:</strong>
  <%= @fund_ranking.last_two_year_total_return %>
</p>

<p>
  <strong>Last two year ranking:</strong>
  <%= @fund_ranking.last_two_year_ranking %>
</p>

<p>
  <strong>This year total return:</strong>
  <%= @fund_ranking.this_year_total_return %>
</p>

<p>
  <strong>This year ranking:</strong>
  <%= @fund_ranking.this_year_ranking %>
</p>

<p>
  <strong>Since the inception total return:</strong>
  <%= @fund_ranking.since_the_inception_total_return %>
</p>

<p>
  <strong>Volatility:</strong>
  <%= @fund_ranking.volatility %>
</p>

<p>
  <strong>Volatility evaluate:</strong>
  <%= @fund_ranking.volatility_evaluate %>
</p>

<p>
  <strong>Risk factor:</strong>
  <%= @fund_ranking.risk_factor %>
</p>

<p>
  <strong>Risk factor evaluate:</strong>
  <%= @fund_ranking.risk_factor_evaluate %>
</p>

<p>
  <strong>Last three year sharpe ratio:</strong>
  <%= @fund_ranking.last_three_year_sharpe_ratio %>
</p>

<p>
  <strong>Last three year sharpe ratio evaluate:</strong>
  <%= @fund_ranking.last_three_year_sharpe_ratio_evaluate %>
</p>

<%= link_to 'Edit', edit_fund_ranking_path(@fund_ranking) %> |
<%= link_to 'Back', fund_rankings_path %>
