<% set_meta_tags title: @tag.name, description: @tag.description %>

<div class="container content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @tag.name %>

      <small>
        关联
        <%= @tag.taggings_count %>
        支基金
      </small>

      <small class="pull-right">
        <%= link_to "返回首页", root_path %>
      </small>
    </div>

    <% if @tag.description.present? %>
      <div class="panel-body">
        <%= @tag.description %>
      </div>
    <% end %>

    <% cache @projects do %>
      <ul class="list-group">
        <%= render partial: "tags/project", collection: @projects %>
      </ul>
    <% end %>
  </div>


  <div class="text-center">
    <%= magic_paginate @projects %>
  </div>
</div>
