<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html">
            <%= image_tag 'logo1-default.png', class: "footer-logo", alt: "基金工具箱" %>
          </a>

          <p>基金工具箱专注于收集、整理历年来各基金数据，以指导下一步投资计划，增长财富。</p>

          <p>平台以优质内容为核心，通过对不同领域、不同地区的具体项目以及理财产品的交流讨论，最大程度解决信息不对称的问题，并直接提供相关产品的购买建议。</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>最近文章</h2></div>
            <ul class="list-unstyled latest-list">
              <% Article.online.limit(3).each do |article| %>
              <li>
                <%= link_to article.title, article %>

                <small>
                  <%= article.created_at.strftime("%-m月%d日, %Y") %>
                </small>
              </li>
              <% end %>
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>基金工具箱</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="#">关于我们</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">常见问题</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">商务合作</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">意见反馈</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">友情链接</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>联系我们</h2></div>

          <p>
            <%= image_tag 'qrcode_for_gh_236cdcb06c76_258.jpg', size: 80 %>
            微信公众号“十年十倍基”
          </p>

          <address class="md-margin-bottom-40">
            QQ 1群: 321010999 <br />
            QQ 2群: 377124937 <br />
            邮箱: <a href="mailto:leekelby@gmail.com" class="">leekelby@gmail.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>
            2017 &copy; All Rights Reserved.
            <%= link_to "数据来源", "" %> | <%= link_to "免责声明", "disclaimer" %>
          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                <i class="fa fa-pinterest"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
