<div class="header">
  <div class="container">
    <!-- Logo -->
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag 'website-logo.png', alt: "基金工具箱" %>
    <% end %>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <!-- <li class="hoverSelector">
          <i class="fa fa-globe"></i>
          <a>Languages</a>
          <ul class="languages hoverSelectorBlock">
            <li class="active">
              <a href="#">English <i class="fa fa-check"></i></a>
            </li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">Russian</a></li>
            <li><a href="#">German</a></li>
          </ul>
        </li>

        <li class="topbar-devider"></li> -->

        <li>
          <%= link_to "注册", new_user_registration_path %>
        </li>

        <li class="topbar-devider"></li>

        <li>
          <%= link_to "登录", new_user_session_path %>
        </li>
      </ul>
    </div>
    <!-- End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- Home -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            基金
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "基金净值", "javascript:void(0);" %>
            </li>
            <li>
              <%= link_to "基金排行", "javascript:void(0);" %>
            </li>
            <li>
              <%= link_to "基金列表", projects_path %>
            </li>
          </ul>
        </li>
        <!-- End Home -->

        <!-- Blog -->
        <li class="">
          <%= link_to "基金经理", developers_path %>
          <!-- <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            基金经理
          </a> -->
          <!-- <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a href="javascript:void(0);">Blog Large Image</a>
              <ul class="dropdown-menu">
                <li><a href="blog_large_right_sidebar1.html">Right Sidebar</a></li>
                <li><a href="blog_large_left_sidebar1.html">Left Sidebar</a></li>
                <li><a href="blog_large_full_width1.html">Full Width</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a href="javascript:void(0);">Blog Medium Image</a>
              <ul class="dropdown-menu">
                <li><a href="blog_medium_right_sidebar1.html">Right Sidebar</a></li>
                <li><a href="blog_medium_left_sidebar1.html">Left Sidebar</a></li>
                <li><a href="blog_medium_full_width1.html">Full Width</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a href="javascript:void(0);">Blog Item Pages</a>
              <ul class="dropdown-menu">
                <li><a href="blog_large_right_sidebar_item1.html">Right Sidebar Item</a></li>
                <li><a href="blog_large_left_sidebar_item1.html">Left Sidebar Item</a></li>
                <li><a href="blog_large_full_width_item1.html">Full Width Item</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu active">
              <a href="javascript:void(0);">Blog Simple Pages</a>
              <ul class="dropdown-menu">
                <li class="active"><a href="blog_large_right_sidebar.html">Right Sidebar Large</a></li>
                <li><a href="blog_medium_right_sidebar.html">Right Sidebar Medium</a></li>
                <li><a href="blog_large_full_width.html">Full Width</a></li>
                <li><a href="blog_large_right_sidebar_item.html">Right Sidebar Item</a></li>
                <li><a href="blog_large_full_width_item.html">Full Width Item</a></li>
              </ul>
            </li>
            <li><a href="blog_masonry_3col.html">Masonry Grid Blog</a></li>
            <li><a href="blog_timeline.html">Blog Timeline</a></li>
          </ul> -->
        </li>
        <!-- End Blog -->

        <!-- Pages -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            基金公司
          </a>
          <ul class="dropdown-menu">
            <% Catalog.pluck(:initial).uniq.each do |initial| %>
            <!-- About Pages -->
            <li class="dropdown-submenu">
              <a href="javascript:void(0);"><%= initial.upcase %></a>
              <ul class="dropdown-menu">
                <% Catalog.where(initial: initial).each do |catalog| %>
                  <li>
                    <%= link_to catalog.name, catalog %>
                  </li>
                <% end %>
              </ul>
            </li>
            <!-- End About Pages -->
            <% end %>

            <!-- Invoice Page -->
            <li>
              <%= link_to "查看全部", catalogs_path %>
            </li>
            <!-- End Invoice Page -->
          </ul>
        </li>
        <!-- End Pages -->

        <!-- Shortcodes -->
        <li class="dropdown mega-menu-fullwidth">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            指数系列
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="mega-menu-content disable-icons">
                <div class="container">
                  <div class="row equal-height">
                    <% IndexReport::CATALOG_HASH.each_pair do |catalog_en, catalog_cn| %>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li>
                            <h3>
                              <%= link_to catalog_cn, catalog_slug_index_reports_path(catalog_en) %>
                            </h3>
                          </li>

                          <% IndexReport.category_hash_under(catalog_en).each_pair do |category_en, category_cn| %>
                            <li>
                              <%= link_to catalog_slug_category_slug_index_reports_path(catalog_en, category_en) do %>
                                <%= category_cn %>

                                <span class="pull-right">
                                  <%= IndexReport.where(catalog_slug: catalog_en, category_slug: category_en).count %>
                                </span>
                              <% end %>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- End Shortcodes -->

        <!-- Demo Pages -->
        <li class="dropdown mega-menu-fullwidth">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            文章
          </a>
          <ul class="dropdown-menu">
            <li>
              <div class="mega-menu-content disable-icons">
                <div class="container">
                  <div class="row equal-height">
                    <div class="col-md-3 equal-height-in">
                      <ul class="list-unstyled equal-height-list">
                        <li><a href="javascript:void(0);">Accounting</a></li>
                        <li><a href="javascript:void(0);">Agency</a></li>
                        <li><a href="javascript:void(0);">Architecture</a></li>
                        <li><a href="javascript:void(0);">Business</a></li>
                        <li><a href="javascript:void(0);">Charity</a></li>
                        <li><a href="javascript:void(0);">Consulting</a></li>
                        <li><a href="javascript:void(0);">Courses</a></li>
                      </ul>
                    </div>

                    <div class="col-md-3 equal-height-in">
                      <ul class="list-unstyled equal-height-list">
                        <li><a href="javascript:void(0);">Construction</a></li>
                        <li><a href="javascript:void(0);">Event <small class="color-red">New</small></a></li>
                        <li><a href="javascript:void(0);">Gym</a></li>
                        <li><a href="javascript:void(0);">Lawyer</a></li>
                        <li><a href="javascript:void(0);">Mobile App</a></li>
                        <li><a href="javascript:void(0);">Music</a></li>
                        <li><a href="javascript:void(0);">Photographer</a></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- End Demo Pages -->

        <!-- Features -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            评级数据
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "基金龙虎榜", snapshot_quickrank_index_path %>
            </li>
            <li>
              <%= link_to "业绩和风险", performance_quickrank_index_path %>
            </li>
            <li>
              <%= link_to "投资组合", portfolio_quickrank_index_path %>
            </li>
            <li>
              <%= link_to "晨星历史数据", history_quickrank_index_path %>
            </li>
          </ul>
        </li>
        <!-- End Features -->

        <!-- Search Block -->
        <li>
          <i class="search fa fa-search search-btn"></i>
          <div class="search-open">
            <div class="input-group animated fadeInDown">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn-u" type="button">Go</button>
              </span>
            </div>
          </div>
        </li>
        <!-- End Search Block -->
      </ul>
    </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>
