<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="control-group">
    <%= f.label :catalog_id %>

    <% catalog = category.catalog %>

    <% if catalog.present? %>
      <% catalogs = catalog.class.all %>
    <% else %>
      <% catalogs = Catalog.all %>
    <% end %>

    <%= f.select :catalog_id, catalogs.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control"} %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "提交", class: "btn btn-primary" %>
  </div>
<% end %>

<br>
