<div class="panel panel-default">


  <div class="panel-heading">
    <h1>
      Categories
      <small>
        <%= link_to 'New Category', new_category_path %>
      </small>
    </h1>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Slug</th>
          <th>Catalog</th>
          <th>Projects</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td>
              <%= link_to category do %>
                <%= category.name %>
              <% end %>
            </td>
            <td><%= category.slug %></td>
            <td>
              <%= category.catalog.name %>
            </td>

            <td><%= category.projects.count %></td>

            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%#= link_to 'New Category', new_category_path %>
