<% set_meta_tags title: @category.name %>

<ol class="breadcrumb">
  <li>
    <% url = @category.catalog.type.downcase.gsub(/catalog$/, '_path') %>

    <%= link_to eval(url) do %>
      <%= @category.catalog.type %>
    <% end %>
  </li>
  <li>
    <%= link_to catalog_path(@category.catalog) do %>
      <%= @category.catalog.name %>
    <% end %>
  </li>

  <li class="active"><%= @category.name %></li>
</ol>


<% if @category.present? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% @category.projects.order(popularity: :desc).limit(6).each do |project| %>
        <div class="col-md-2">
          <%= link_to project, target: "_blank" do %>
            <%= project.name %>
            <br>
            <%= project.popularity %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="col-md-12">



  <ul>
    <% @category.projects.each do |project| %>
      <li>
        <%= link_to project.name, project %>
        <br>
        <%= project.description %>
      </li>
    <% end %>
  </ul>


</div>
