<% set_meta_tags title: @category.meta_title_name %>

<% content_for :content_css_link_yield do %>
  <%= stylesheet_link_tag 'categories' %>
<% end %>

<ol class="breadcrumb catalog-category-etc">
  <li class="normal">
    <% url = @category.catalog.type.downcase.gsub(/catalog$/, '_path') %>

    <%= link_to eval(url) do %>
      <%= @category.catalog.human_supercatalog_name %>
    <% end %>
  </li>

  <li class="normal">
    <%= link_to catalog_path(@category.catalog) do %>
      <%= @category.catalog.name %>
    <% end %>
  </li>

  <li class="active"><%= @category.name %></li>
</ol>


<% if @category.present? %>
  <div class="panel panel-default popular-projects">
    <%= render "projects/popular_item" %>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    本类目下共有 <%= @projects.size %> 个项目
  </div>

  <div class="panel-body">
    <% if @projects.blank? %>
      <div class="text-center text-muted">
        没有搜索到结果
      </div>
    <% else %>
      <ul class="media-list">
        <%= render partial: "projects/media_list_item", collection: @projects, as: :project %>
      </ul>
    <% end %>
  </div>
</div>
