<ol class="breadcrumb">
  <li>
    <% url = @category.catalog.type.downcase.gsub(/catalog$/, '_path') %>

    <%= link_to eval(url) do %>
      <%= @category.catalog.type %>
    <% end %>
  </li>
  <li>
    <%= link_to catalog_path(@category.catalog) do %>
      <%= @category.catalog.name %>
    <% end %>
  </li>

  <li class="active"><%= @category.name %></li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @category.slug %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @category.catalog_id %>
  <%= @category.catalog.name %>
</p>

<p>
  <ul>
    <% @category.projects.each do |project| %>
      <li>
        <%= link_to project.name, project %>
        <br>
        description: <%= project.description %>
        <br>
        website: <%= project.website %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
