<% set_meta_tags title: "#{@project.name}(#{@project.code}) 的增长率、收益计算", description: @project.description %>

<!-- <div class="panel panel-default popular-projects"> -->


  <div class="panel panel-default">
    <div class="panel-body">
      基金：<%= @project.name %>(<%= @project.code %>) 的增长率、收益计算

      <small class="pull-right">
        <%= link_to "返回基金", @project %>
      </small>
    </div>
  </div>

  <%#= render "projects/popular_item" %>
<!-- </div> -->


<div class="panel panel-default">
  <div class="panel-heading">近一周增长率</div>
  <div class="panel-body">
    <% if @project.last_week_trade_day_net_worth.present? %>
      <%= @project.last_trade_day %> |
      <%= @project.last_week_trade_day %> |

      <%= @project.last_week_trade_day_net_worth.record_at %> |
      <%= @project.last_week_trade_day_net_worth.dwjz %> |
      <%= @project.last_week_trade_day_net_worth.ljjz %>
      =>
      <%= @project.last_week_ranking %>
    <% end %>

    <br>
    <%= @project.last_trade_net_worth_ago(1.weeks).record_at %>
    <%= @project.last_trade_net_worth_ago(1.weeks).dwjz %>
    <br>
    <%= @project.target_ranking_ago(1.weeks) %>
    %
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">近一月增长率</div>
  <div class="panel-body">
    
    <% if @project.last_month_trade_day_net_worth.present? %>
      <%= @project.last_trade_day %> |
      <%= @project.last_month_trade_day %> |
      <%= @project.last_month_trade_day_net_worth.record_at %> |
      <%= @project.last_month_trade_day_net_worth.dwjz %> |
      <%= @project.last_month_trade_day_net_worth.ljjz %>
      =>
      <%= @project.last_month_ranking %>
    <% end %>


    <br>
    <%= @project.target_ranking_ago(1.month) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近三月增长率</div>
  <div class="panel-body">
    <% if @project.last_three_month_trade_day_net_worth.present? %>
      <%= @project.last_trade_day %> |
      <%= @project.last_three_month_trade_day %> |
      <%= @project.last_three_month_trade_day_net_worth.record_at %> |
      <%= @project.last_three_month_trade_day_net_worth.dwjz %> |
      <%= @project.last_three_month_trade_day_net_worth.ljjz %>
      =>
      <%= @project.last_three_month_ranking %>
    <% end %>

    <br>
    <%= @project.target_ranking_ago(3.month) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近六月增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(6.month) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近一年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(1.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近二年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(2.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近三年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(3.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近五年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(5.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近七年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(7.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">近十年增长率</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(10.years) %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">成立以来</div>
  <div class="panel-body">
    <%= @project.target_ranking_ago(100.years) %>
  </div>
</div>


<% @project.fund_yields.order(yield_type: :desc).each do |fund_yield| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= FundYield::YIELD_TYPE_HASH[fund_yield.yield_type] %>

      <small>
        分红：<%= fund_yield.fund_fen_hongs_count %> 次
      </small>

      <small>
        拆分：<%= fund_yield.fund_chai_fens_count %> 次
      </small>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        初始日期：
        <%= fund_yield.beginning_day %>
      </li>

      <li class="list-group-item">
        变更日期：
        <%= fund_yield.end_day %>
      </li>

      <li class="list-group-item">
        初始净值：
        <%= fund_yield.beginning_net_worth %>
      </li>

      <li class="list-group-item">
        变更净值：
        <%= fund_yield.end_net_worth %>
      </li>

      <li class="list-group-item">
        收益率：
        <%= fund_yield.yield_rate %>
        %
      </li>
    </ul>
  </div>
<% end %>
