<% if panel_project.new_record? %>
  <% url = panel_projects_path %>
<% else %>
  <% url = panel_project_path(panel_project) %>
<% end %>

<%= form_for panel_project, url: url do |f| %>
  <% if panel_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panel_project.errors.count, "error") %> prohibited this panel_project from being saved:</h2>

      <ul>
      <% panel_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author, class: "form-control", disabled: !panel_project.new_record? %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", disabled: !panel_project.new_record? %>
  </div>

  <div class="form-group">
    <%= f.label :source_code %>

    <% if panel_project.source_code.present? %>
      <small>
        <%= link_to panel_project.source_code, target: "_blank" do %>
          <i class="fa fa-globe"></i>
        <% end %>
      </small>
    <% end %>

    <%= f.text_field :source_code, class: "form-control", disabled: !panel_project.new_record?, required: true %>
  </div>

  <div class="form-group">
    <%= f.label :human_name %>
    <%= f.text_field :human_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :identity %>
    <%= f.select :identity, options_for_select(Project.identities.keys, panel_project.identity), {include_blank: true}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(Project.statuses.keys, panel_project.status), {include_blank: true}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= f.label :today_recommend do %>
      <%= f.check_box :today_recommend %> 今日推荐？
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :given_name %>
    <%= f.text_field :given_name, class: "form-control" %>

    <p class="help-block">某些 gem 在 GitHub 上的 Repo 项目名与在 rubygems.org 上不一致，导致下载失败，可用此修复。</p>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.includes(:catalog).collect { |p| [ p.full_name, p.id ] }, {include_blank: true}, class: "form-control select2" %>
  </div>

  <div class="actions">
    <%= f.submit "提交项目", class: "btn btn-primary", data: {disable_with: "正在提交"} %>
  </div>
<% end %>
