<tr>
  <td><%= panel_project.author %></td>
  <td><%= link_to panel_project.name, panel_project_path(panel_project), target: "_blank" %></td>
  <td><%= panel_project.status %></td>
  <td><%= panel_project.source_code %></td>

  <td>
    <% if panel_project.category.present? %>
      <%= link_to panel_project.category.name, panel_category_path(panel_project.category), target: "_blank" %>
    <% end %>
  </td>

  <td></td>
  <td></td>

  <!-- <td><%#= link_to 'Show', panel_project_path(panel_project), target: "_blank" %></td> -->
  <td><%= link_to 'Edit', edit_panel_project_path(panel_project), target: "_blank" %></td>
  <td><%= link_to 'Destroy', panel_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to "前台", project_path(panel_project), target: "_blank" %></td>
  <td><%= link_to "后台", rails_admin.show_path('Project', panel_project), target: "_blank" %></td>
</tr>
