<h1>
  Panel Projects

  <small>
    <%= link_to 'New Panel Project', new_panel_project_path %>
  </small>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @panel_projects.each do |panel_project| %>
      <tr>
        <td><%= link_to 'Show', panel_project %></td>
        <td><%= link_to 'Edit', edit_panel_project_path(panel_project) %></td>
        <td><%= link_to 'Destroy', panel_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @panel_projects %>
