<% set_meta_tags title: @article_category.name %>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @article_category.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= @article_category.slug %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= @article_category.cover %>
  </p>

  <p>
    <strong>Intro:</strong>
    <%= @article_category.intro %>
  </p>

  <p>
    <strong>Article catalog:</strong>
    <%= @article_category.article_catalog_id %>
  </p>

  <%= link_to 'Edit', edit_article_category_path(@article_category) %> |
  <%= link_to 'Back', article_categories_path %>
</div>
