<!DOCTYPE html>
<html>
  <head>
    <title>Zhenkuan</title>
    <%= csrf_meta_tags %>

    <!-- base css here -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- layout_css_link_yield -->
    <%= yield(:layout_css_link_yield) %>
    <!-- content_css_link_yield -->
    <%= yield(:content_css_link_yield) %>

    <!-- more css here. -->


    <!-- base js here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- layout_js_link_yield -->
    <%= yield(:layout_js_link_yield) %>
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render "layouts/navbar" %>

    <% if flash[:notice].present? || flash[:alert].present? %>
      <div class="container">
        <% if flash[:notice].present? %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <%= alert %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="container">
      <%= yield :prefix %>
    </div>

    <!-- Begin page content -->
    <div class="container <%= params[:controller] %>">
      <!-- begin per page body content -->
      <%= yield %>
      <!-- end per page body content -->
    </div>

    <div class="container">
      <%= yield :postfix %>
    </div>

    <%= render "layouts/footer" %>

    <!-- more js here... -->
    <%= content_for :javascripts %>
  </body>
</html>
