<!DOCTYPE html>
<html>
  <head>
    <title>Zhenkuan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- more css here -->
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render "layouts/navbar" %>

    <!-- Begin page content -->
    <div class="container">
      <%= yield %>

      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>

      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- more js here -->
  </body>
</html>
