<!DOCTYPE html>
<html>
  <head>
    <title>Zhenkuan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- more css here -->
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render "layouts/navbar" %>

    <!-- Begin page content -->
    <div class="container">
      <% if flash[:notice].present? %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if flash[:alert].present? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- more js here -->
  </body>
</html>
