<!DOCTYPE html>
<html>
  <head>
    <title>Zhenkuan</title>
    <%= csrf_meta_tags %>

    <!-- base css here -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- layout_css_link_yield -->
    <%= yield(:layout_css_link_yield) %>
    <!-- content_css_link_yield -->
    <%= yield(:content_css_link_yield) %>

    <!-- more css here. -->


    <!-- base js here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- layout_js_link_yield -->
    <%= yield(:layout_js_link_yield) %>
  </head>

  <body>
    <!-- Fixed navbar -->
    <%= render "layouts/navbar" %>

    <!-- Begin page content -->
    <div class="container <%= params[:controller] %>">
      <% if flash[:notice].present? %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if flash[:alert].present? %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <!-- begin per page body content -->
      <%= yield %>
      <!-- end per page body content -->
    </div>

    <%= render "layouts/footer" %>

    <!-- more js here... -->
    <%= content_for :javascripts %>
  </body>
</html>
