<% meta_description = (@description.presence || "中证系列指数，上证系列指数，中华交易服务系列指数，深证系列指数，三板系列指数") %>

<% set_meta_tags title: @title, description: meta_description %>

<div class="container">
  <h1>
    <%= @title %>

    <small>
      <% if params[:action] == 'catalog' %>
        本系列包含<%= @catalog.index_categories_count %>细分类目，
      <% end %>

      包含
      <%= @index_reports.unscope(:limit, :offset).count %>指数。
    </small>
  </h1>

  <% if @description.present? %>
    <%= simple_format @description %>
  <% end %>

  <ul class="nav nav-pills">
    <% IndexReport::CATALOG_HASH.each_pair do |catalog_en, catalog_cn| %>
      <li>
        <%= link_to catalog_cn, catalog_slug_index_reports_path(catalog_en) %>
      </li>
    <% end %>
  </ul>

  <br>

  <div class="col-md-3 no-padding-left">
    <div class="panel-group" id="accordion">
      <%# IndexReport::CATALOG_HASH.each_pair do |catalog_en, catalog_cn| %>
      <%# IndexReport.pluck(:catalog).uniq.each do |catalog| %>
        <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%#= catalog_en %>-box">
                <%#= catalog_cn %>
              </a>
            </h4>
          </div> -->

          <!-- <div id="<%#= catalog_en %>-box" class="panel-collapse collapse">
            <div class="list-group">
              <%# IndexReport.where(catalog_slug: catalog_en).pluck(:category_slug, :category).uniq.each do |category_en, category_cn| %>
                <%#= link_to catalog_slug_category_slug_index_reports_path(catalog_en, category_en), class: "list-group-item" do %>
                  <%#= category_cn %>
                <%# end %>

                <div class="list-group">
                  <%# IndexReport.where(catalog_slug: catalog_en, category_slug: category_en).distinct.each do |index_report| %>
                    <%#= link_to index_report, class: "list-group-item" do %>
                      <%#= index_report.name %>
                    <%# end %>
                  <%# end %>
                </div>
              <%# end %>
            </div>
          </div>
        </div> -->
      <%# end %>
    </div>
  </div>

  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>系列</th>
          <th>指数</th>

          <th>名字</th>


          <th>代码</th>
          <th>成立日</th>

        </tr>
      </thead>

      <tbody>
        <% @index_reports.each do |index_report| %>
          <tr>
            <td>
              <%= link_to index_report.catalog_name, catalog_slug_index_reports_path(index_report.catalog_slug) %>
            </td>
            <td>
              <%= link_to index_report.category_name, catalog_slug_category_slug_index_reports_path(index_report.catalog_slug, index_report.category_slug) %>
            </td>

            <td><%= link_to index_report.name, index_report %></td>

            <td><%= index_report.code %></td>
            <td><%= index_report.set_up_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="text-center">
      <%= magic_paginate @index_reports %>
    </div>
  </div>
</div>

<style>
 .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
 .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
 .panel-collapse>.list-group {margin-bottom: 0;}
 .panel-collapse .list-group-item {border-radius:0;}

 .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
 .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
 .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

 .panel-collapse div.list-group div.list-group{margin: 0;}
 .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
 .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}
</style>
