<h1>
  Index Reports

  <small>
    <%= @index_reports.count %>
  </small>
</h1>

<table>
  <thead>
    <tr>
      <th>Catalog</th>
      <th>Category</th>
      <th>Category intro</th>
      <th>Name</th>
      <th>Intro</th>
      <th>Website</th>
      <th>Code</th>
      <th>Set up at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @index_reports.each do |index_report| %>
      <tr>
        <td><%= link_to index_report.catalog, index_reports_path(filter_type: 'catalog', filter_code: index_report.catalog) %></td>
        <td><%= link_to index_report.category, index_reports_path(filter_type: 'category', filter_code: index_report.category) %></td>
        <td><%#= index_report.category_intro.try(:first, 10) || "" %></td>
        <td><%= link_to index_report.name, index_report %></td>
        <td><%#= index_report.intro.try(:first, 10) || "" %></td>
        <td><%#= index_report.website %></td>
        <td><%= index_report.code %></td>
        <td><%= index_report.set_up_at %></td>
        <td><%= link_to 'Show', index_report %></td>
        <td><%= link_to 'Edit', edit_index_report_path(index_report) %></td>
        <td><%= link_to 'Destroy', index_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= magic_paginate @index_reports %>
<%#= link_to 'New Index Report', new_index_report_path %>
