<p>
  <strong>Catalog:</strong>
  <%= @index_report.catalog %>
</p>

<p>
  <strong>Category:</strong>
  <%= @index_report.category %>
</p>

<p>
  <strong>Category intro:</strong>
  <%= @index_report.category_intro %>
</p>

<p>
  <strong>Name:</strong>
  <%= @index_report.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @index_report.intro %>
</p>

<p>
  <strong>Website:</strong>
  <%= @index_report.website %>
</p>

<p>
  <strong>Code:</strong>
  <%= @index_report.code %>
</p>

<p>
  <strong>Set up at:</strong>
  <%= @index_report.set_up_at %>
</p>

<%= link_to 'Edit', edit_index_report_path(@index_report) %> |
<%= link_to 'Back', index_reports_path %>
