<ol class="breadcrumb no-padding-left">
  <li><a href="#"><%= @index_report.catalog %></a></li>
  <li><a href="#"><%= @index_report.category %></a></li>
  <li class="active"><%= @index_report.name %></li>
</ol>

<h1>
  <%= @index_report.name %>
</h1>


<p>
  <strong>Category intro:</strong>
  <%= @index_report.category_intro %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @index_report.intro %>
</p>

<p>
  <strong>Website:</strong>
  <%= @index_report.website %>
</p>


<p>
  <strong>Code:</strong>
  <%= @index_report.code %>
</p>

<p>
  <strong>Set up at:</strong>
  <%= @index_report.set_up_at %>
</p>

<% if can? :edit, @index_report %>
  <%= link_to 'Edit', edit_index_report_path(@index_report) %>
<% end %>
